RewriteEngine On

ErrorDocument 500 /pages/error
ErrorDocument 501 /pages/error
ErrorDocument 502 /pages/error
ErrorDocument 503 /pages/error
ErrorDocument 504 /pages/error
ErrorDocument 505 /pages/error

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<FilesMatch "^\.env$">
    Require all denied
</FilesMatch>

php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_input_time 300
php_value max_execution_time 300