
@keyframes wave-back-and-forth {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}

#wave-path {
    animation: wave-back-and-forth 4s ease-in-out infinite;
    fill: #00bfff;
    transform-origin: center;
    will-change: transform;
}

#svg-container {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 100%;
}
